In [154]:
from dask.distributed import Client
import dask.dataframe as dd

client=Client()
client

/home/ubuntu/dask_env/lib/python3.6/site-packages/distributed/node.py:155: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 44035 instead
  http_address["port"], self.http_server.port

In [155]:
import pandas as pd

In [156]:
!head -1000 user_reviews_Release.csv > small_dataset.csv

In [157]:
df = dd.read_csv('small_dataset.csv')

In [158]:
type(df)

dask.dataframe.core.DataFrame

In [159]:
type(df.head())

pandas.core.frame.DataFrame

In [160]:
df

Dask DataFrame Structure:
              reviewerID    asin reviewerName helpful reviewText  overall summary unixReviewTime reviewTime
npartitions=1
                  object  object       object  object     object  float64  object        float64     object
                     ...     ...          ...     ...        ...      ...     ...            ...        ...
Dask Name: read-csv, 1 tasks

In [161]:
df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A2T0RJ91B0PQ03,B0016CRVLW,Gerald DeWitt,"[0, 0]",Beware! This is NOT the original single versi...,1.0,Poor Quality Alternate Take,1.400630e+09,"05 21, 2014"
1,A3TYW0XA8HSGWB,B00EKR5S0Q,Linda E. Larson,"[0, 0]",This is my new most favorite k-cup coffee. I c...,5.0,Vanilla Starbucks K-cups,1.398557e+09,"04 27, 2014"
2,A2CME0TQU2IVVB,B001AUPJVO,L5Momma,"[1, 1]",This headset is great! It worked in our 2007 ...,5.0,Awesome!,1.355875e+09,"12 19, 2012"
3,A2E5IDLX7R388S,B000055Y57,Jeff Andersen,"[0, 0]",Scofield is one of my favorite musicians and i...,5.0,Straight ahead Jazz with the Scofield twist,1.402358e+09,"06 10, 2014"
4,A3CIEMYUGV6ZMR,0545265355,Adroit,"[0, 0]","Wonderful book! I cried, well teared up at a f...",5.0,Greatest Book Ever!!!,1.334102e+09,"04 11, 2012"

In [162]:
type(df)

dask.dataframe.core.DataFrame

In [163]:
df['helpful']

Dask Series Structure:
npartitions=1
    object
       ...
Name: helpful, dtype: object
Dask Name: getitem, 2 tasks

In [164]:
df.dtypes

reviewerID         object
asin               object
reviewerName       object
helpful            object
reviewText         object
overall           float64
summary            object
unixReviewTime    float64
reviewTime         object
dtype: object

In [ ]:
df[]#keep subset of column

In [165]:
df['reviewing_since']=dd.to_datetime(df['reviewTime'], infer_datetime_format=True)

In [166]:
df['helpful_votes']=df['helpful'].apply(lambda x:x.strip('][').split(', ')[0],meta=('helpful', object)).astype(int)

In [167]:
df['total_votes']=df['helpful'].apply(lambda x:x.strip('][').split(', ')[1],meta=('helpful', object)).astype(int)

In [168]:
df['total_votes'].compute()

0        0
1        0
2        1
3        0
4        0
      ...
994      1
995     16
996      2
997    106
998      2
Name: total_votes, Length: 999, dtype: int64

In [169]:
df.dtypes

reviewerID                 object
asin                       object
reviewerName               object
helpful                    object
reviewText                 object
overall                   float64
summary                    object
unixReviewTime            float64
reviewTime                 object
reviewing_since    datetime64[ns]
helpful_votes               int64
total_votes                 int64
dtype: object

In [75]:
# dd.to_datetime(df['reviewTime'],infer_datetime_format=True)

In [173]:
n1=df.groupby('reviewerID').agg({"asin": "count",'overall':'mean','reviewing_since':'min','helpful_votes':'sum','total_votes':'sum'}).compute()
n1

                asin  overall reviewing_since  helpful_votes  total_votes
reviewerID
A103QHKN9QHCU9     1      3.0      2013-08-19              0            0
A104WVGG8GI609     1      5.0      2010-04-22              8            9
A10BR9ISEW4LCX     1      1.0      2013-10-30              4            5
A10C6BUTUFKG8B     1      5.0      2014-06-12              0            0
A10DBF0BWGNZGZ     1      5.0      2013-06-17              0            0
...              ...      ...             ...            ...          ...
AYVZWQKO3LEHE      1      5.0      2013-03-02              0            0
AZLEIK93TH0RP      1      5.0      2013-02-20              1            1
AZOPFCTZW22JO      1      1.0      2008-06-07              2            2
AZPUTEGEB832Z      1      5.0      2013-04-29              0            0
AZXIVW59NBUC3      1      5.0      2011-12-29              0            1

[996 rows x 5 columns]

In [175]:
n1.reset_index().describe()

             asin     overall  helpful_votes  total_votes
count  996.000000  996.000000     996.000000   996.000000
mean     1.003012    4.160643       1.964859     2.722892
std      0.070824    1.252253       8.812267    10.157529
min      1.000000    1.000000       0.000000     0.000000
25%      1.000000    4.000000       0.000000     0.000000
50%      1.000000    5.000000       0.000000     0.000000
75%      1.000000    5.000000       1.000000     2.000000
max      3.000000    5.000000     152.000000   157.000000

In [ ]:
n2=df.groupby('reviewerID').agg({"": "count"}).compute()

In [40]:
avg_number_of_product_rate=n1.mean()
avg_number_of_product_rate

asin    1.003012
dtype: float64

In [46]:
n1.describe().loc['count'].values

array([996.])